<?xml version="1.0"?>
<configuration>

    <appSettings/>
  <connectionStrings>
    <!--<add name="StrConn" connectionString="server=187.157.137.40\SQLEXPRESS,1434;uid=sa;pwd=vinoteca;database=apex;" providerName="system.data.sqlclient"/>-->
    <add name="StrConn" connectionString="server=10.10.10.191\SQLEXPRESS;uid=sa;pwd=vinoteca;database=apex;" providerName="system.data.sqlclient"/>
  </connectionStrings>
    <system.web>
      <sessionState stateNetworkTimeout="3600" timeout="60"/>
      <globalization uiCulture="en" culture="en-US"/>
      <compilation debug="true">
        <codeSubDirectories>
          
        </codeSubDirectories>
      </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
        <pages>
          <namespaces>
            <clear />
            <add namespace="System" />
            <add namespace="System.Collections" />
            <add namespace="System.Collections.Generic" />
            <add namespace="System.Collections.Specialized" />
            <add namespace="System.Configuration" />
            <add namespace="System.Text" />
            <add namespace="System.Text.RegularExpressions" />
            <add namespace="System.Web" />
            <add namespace="System.Web.Caching" />
            <add namespace="System.Web.SessionState" />
            <add namespace="System.Web.Security" />
            <add namespace="System.Web.Profile" />
            <add namespace="System.Web.UI" />
            <add namespace="System.Web.UI.WebControls" />
            <add namespace="System.Web.UI.WebControls.WebParts" />
            <add namespace="System.Web.UI.HtmlControls" />
          </namespaces>
        </pages>
    </system.web>

</configuration>
